<div class="articles-container">
  <% @articles.each do |article| %>
    <div class="article-box">
      <strong><%= link_to article.title, read_path(article_id: article.id) %></strong>
      <small>
        Oleh <%= article.user.full_name %><br>
        Pada <%= article.created_at.to_s(:short) %>
      </small>
    </div>
  <% end %>
</div>