<h1>Billy Blog</h1>
<p>Selamat Datang di Billy Blog</p>

<ul>
  <% @articles.each do |article| %>
    <li>
      <strong><%= link_to article.title, read_path(article_id: article.id) %></strong>
      <small>
        Oleh <%= article.user.full_name %>
        pada <%= article.created_at.to_s(:short) %>
      </small>
    </li>
  <% end %>
</ul>